@import url(https://fonts.googleapis.com/css?family=Fauna+One|Oxygen:400,300,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0;
}
img {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Fauna One";
  font-weight: 400;
  color: #008bf8;
}
.App {
  font-family: Oxygen, Helvetica, Arial, sans-serif;
}
