.SignIn {
  display: flex;
  flex-direction: column;
  background: url(http://unsplash.it/1500/1000?image=885&blur=50);
  background-size: cover;
  height: 100vh;
}
.SignIn .Header {
  background-color: #fff;
  height: 80px;
  padding: 0 2rem;
  margin: 0;
}
.SignIn .Header img {
  width: 30px;
  height: 30px;
  padding-bottom: 4px;
  margin-right: 4px;
}
.SignIn .Header .title {
  color: #008bf8;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 80px;
  font-family: Fauna One;
  font-size: 2.2rem;
}
.SignIn main {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.SignIn main h3 {
  font-family: "Fauna One";
  color: #fff;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.SignIn p {
  color: white;
  font-family: "Fauna One";
  font-size: 1.7rem;
  font-weight: 300;
  width: 30em;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255,255,255,0.4);
  padding-bottom: 2rem;
}
.SignIn button {
  display: flex;
  align-items: center;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  margin: 2.5rem auto 1.2rem;
  padding: 20px;
  -webkit-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
  font-family: 'helvetica neue', sans-serif;
  font-size: 20px;
  font-weight: 200;
}
.SignIn button + button {
  margin-top: 0;
}
.SignIn button.github {
  background-color: #444;
  color: white;
}
.SignIn button.github i.fab,
.SignIn button.github svg {
  font-size: 3rem;
  margin-right: 0.5rem;
}
.SignIn button.google {
  background-color: white;
  color: #666;
}
